body {
    background: rgb(134, 81, 219);
    color: aliceblue;
    font: normal 18pt Verdana, sans-serif; 
}

header {
    text-align: center;
}

section {
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    color: rgba(0, 0, 0, 0.623);
    margin: auto;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.219);

}

footer {
    text-align: center;
    font-style: italic;
    font-size: 10pt;
}

.btn {
    height: 50px;
    background-color:rgb(134, 81, 219);
    border: none;
    box-shadow: 1px 1px 5px grey;
    border-radius: 7px;
    font: bold 14pt Verdana, sans-serif;
    color: rgb(255, 255, 255);
}

