body {
    color: rgb(255, 255, 255);
    font: normal 18pt Verdana, sans-serif; 
    padding: 20px;
}

header {
    text-align: center;
}

section {
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    color: rgba(0, 0, 0, 0.582);
    margin: auto;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.219);

}

footer {
    text-align: center;
    font-style: italic;
    font-size: 14pt;
    text-shadow: 1px 0px 3px rgb(82, 82, 82);

}

h1{
    text-shadow: 0.5px 0px 1px rgba(0, 0, 0, 0.534);
}

div {
    text-align: center;
    padding: 8px;
}